.goalBlock {
  border: 1px solid #555;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 8px;
  background-color: #2a2a2a;
  transition: all 0.3s ease;
}

.goalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.goalNameInput {
  width: 70%;
  padding: 5px;
  border-radius: 4px;
  border: 1px solid #888;
  background-color: #1e1e1e;
  color: #f5f5f5;
}

.taskRow {
  margin-bottom: 8px;
  padding: 5px;
  border: 1px dashed #888;
}

.goalNameInput{
  margin-top: 5px;
  padding: 5px 10px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  background-color: #1613dd;
  color: #f5f5f5;
}
.addTaskBtn{
  margin-top: 5px;
  padding: 5px 10px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  background-color: #4caf50;
  color: #f5f5f5;
}

.removeBtn{
  margin-top: 5px;
  padding: 5px 10px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  background-color: red;
  color: #f5f5f5;
}
.adding {
  opacity: 0;
  transform: scale(0.95);
  animation: fadeIn 0.2s forwards;
}

.removing {
  opacity: 1;
  transform: scale(1);
  animation: fadeOut 0.3s forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fadeOut {
  to {
    opacity: 0;
    transform: scale(0.95);
  }
}
